<div class="mt-4 col-10 offset-2">
  <div class="card">
      {{success}}
    <div class="card-header"><h2>{{targetFrmlabel}}</h2></div>
    <div class="card-body">
      <form [formGroup]="targetForm" (ngSubmit)="onSubmit()">
        <h3 style="font-size: 1.0rem;">Company Information</h3>
        <div class="form-group row">
          <label for="companyName" class="col-sm-2 col-form-label">Company Name</label>
          <div class="col-sm-10">
            <input type="text" name="companyName" formControlName="companyName" class="form-control" id="companyName" placeholder="Company Name" ngModel required>
            <div class="alert alert-danger" [hidden]="!error.companyName">
              {{error.companyName}}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="streetAddress" class="col-sm-2 col-form-label">Street Address</label>
          <div class="col-sm-10">
            <input type="text" name="streetAddress" formControlName="streetAddress" class="form-control" id="streetAddress" placeholder="Street Address" ngModel required>
            <div class="alert alert-danger" [hidden]="!error.streetAddress">
              {{error.streetAddress}}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="city" class="col-sm-2 col-form-label">City</label>
          <div class="col-sm-10">
            <input type="text" name="city" formControlName="city" class="form-control" id="city" placeholder="City" ngModel required>
            <div class="alert alert-danger" [hidden]="!error.city">
              {{error.city}}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="state" class="col-sm-2 col-form-label">State</label>
          <div class="col-sm-10">
            <input type="text" name="state" formControlName="state" class="form-control" id="state" placeholder="State" ngModel required>
            <div class="alert alert-danger" [hidden]="!error.state">
              {{error.state}}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="zip" class="col-sm-2 col-form-label">Postal / Zip Code</label>
          <div class="col-sm-10">
            <input type="text" name="zip" formControlName="zip" class="form-control" id="zip" placeholder="Postal / Zip Code" ngModel required>
            <div class="alert alert-danger" [hidden]="!error.zip">
              {{error.zip}}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="country" class="col-sm-2 col-form-label">Country</label>
          <div class="col-sm-10">
            <input type="text" name="country" formControlName="country" class="form-control" id="country" placeholder="Country" ngModel required>
            <div class="alert alert-danger" [hidden]="!error.country">
              {{error.country}}
            </div>
          </div>
        </div>
        <hr>
        <h3 style="font-size: 1.0rem;">Contact Information</h3>
        <div class="form-group row">
          <label for="phone1" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" name="email" formControlName="email" class="form-control" id="email" placeholder="Email" ngModel required>
            <div class="alert alert-danger" [hidden]="!error.email">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="phone1" class="col-sm-2 col-form-label">Phone</label>
          <div class="col-sm-10">
            <input type="mobile" name="phone1" formControlName="phone1" class="form-control" id="phone1" placeholder="Phone" ngModel required>
            <div class="alert alert-danger" [hidden]="!error.phone1">
              {{error.phone1}}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="phone2" class="col-sm-2 col-form-label">Other Phone</label>
          <div class="col-sm-10">
            <input type="mobile" name="phone2" class="form-control" formControlName="phone2" id="phone2" placeholder="Other Phone" ngModel>
          </div>
        </div>
        <hr>
        <div class="form-group row">
          <label for="status" class="col-sm-2 col-form-label">Status</label>
          <div class="col-sm-10">
            <select class="form-control" name="status" formControlName="status" id="status"  ngModel required>
              <option value="">--Status--</option>
              <option *ngFor="let status of statuses" value={{status}}>
                  {{status}}
              </option>
          </select>
            <div class="alert alert-danger" [hidden]="!error.status">
              {{error.status}}
            </div>
          </div>
        </div>
        <h3 style="font-size: 1.0rem;">Financial Performance</h3>
        <div class="form-group row">
          <label for="budgetInv" class="col-sm-2 col-form-label">Budget Invested</label>
          <div class="col-sm-10">
            <input type="budgetInv" name="budgetInv" formControlName="budgetInv" class="form-control" id="budgetInv" placeholder="Budget Invested"
            ngModel required>
            <div class="alert alert-danger" [hidden]="!error.budgetInv">
              {{error.budgetInv}}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="grossProfit" class="col-sm-2 col-form-label">Gross Profit</label>
          <div class="col-sm-10">
            <input type="grossProfit" name="grossProfit" formControlName="grossProfit" class="form-control" id="grossProfit" placeholder="Gross Profit"
            ngModel required>
            <div class="alert alert-danger" [hidden]="!error.grossProfit">
              {{error.grossProfit}}
            </div>
          </div>
        </div>
       <div class="form-group row">
          <div class="col-sm-10 offset-2">
            <button type="submit" class="btn btn-primary" [disabled]="!targetForm.valid">{{targetFrmbtn}}</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>